@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.Rendering

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ControleFuncionarios.AppMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleFuncionarios.AppMvc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/material3-base.css?v=5.3.5.0">
</head>
<body>
    <component type="typeof(ControleFuncionarios.AppMvc.Components.Layout.Layout)"
               render-mode="ServerPrerendered" />
    <div class="container d-none">
            @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
   
    <script>

        function insereBody() {
            $(".container").appendTo("#corpo-principal");
            $(".container").removeClass("d-none");
        }
    </script>
</body>
</html>
